<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IPL</title>
    <!-- Bootstrap -->
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
    <link href="css/drag-and-drop-list.css" rel="stylesheet">    
    <link href="css/player-profile-card.css" rel="stylesheet">
    <link href="css/show-all-users.css" rel="stylesheet">
    <link href="css/show-user-team.css" rel="stylesheet">
    <link href="css/angular-toastr.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="libs/bootstrap/js/jquery-3.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="libs/bootstrap/js/bootstrap.js"></script>
    <!-- angular is the only dependency! -->
    <script src="libs/angular.js"></script>    
    <script src="libs/ui-bootstrap-tpls.js"></script>    
    <script src="libs/angular-toastr.tpls.js"></script>
    <script src="libs/angular-ui-router.js"></script>
    <script src="libs/angular-drag-and-drop-lists.js"></script>
    <script src="libs/angular-ui-router.js"></script>
    <script src="libs/MainCtrl.js"></script>    
    <script src="libs/myScript.js"></script>
	<script src="libs/lodash.js"></script>
    <script src="libs/UserPositionCtrl.js"></script>    
    <script src="libs/RemovePlayerModalCtrl.js"></script>        
    <script src="libs/SubmitTeamModalCtrl.js"></script>
    <base href="/" />    
</head>
<!-- 
add css when user select any player from list say bowler / batsman etc
if possible apply drag and drop shadow effect

-->
<body ng-app="ipl" ng-controller="MainCtrl">
    <div>
        <header class="header navbar">
            <div class="navbar-nav-scroll">
                <ul class="custome_navbar">
                    <!-- ng-if="currentDate.getTime() < config.lastDateForTeamSelection.getTime()" -->
                    <li ng-if="currentDate.getTime() < config.lastDateForTeamSelection.getTime()"
                     class="nav-item navlinks">
                     <a ng-class="getClass('/add')" class="nav-link " href="javascript:void(0);" ui-sref="add"
                        >Create Team</a>
                    </li>
                    <li class="nav-item navlinks">
                        <a ng-class="getClass('/view')" class="nav-link " href="javascript:void(0);" ui-sref="view">My Team</a>
                    </li>
                    <li class="nav-item navlinks"><a ng-class="getClass('/rules')" class="nav-link " href="javascript:void(0);" ui-sref="rules">Rules</a></li>
                    
                    <li ng-if="currentDate.getTime() > config.lastDateForTeamSelection.getTime()" 
                        class="nav-item navlinks">
                        <a ng-class="getClass('/position')" class="nav-link" href="javascript:void(0);" ui-sref="position"
                        >My Position</a>
                    </li>

                    <li class="nav-item navlinks pull-right" style="margin-right: 10px !important;">
                        <a class="nav-link active" href="javascript:void(0);">{{ loggedInUser.name }}</a>
                        <a class="nav-link " href="javascript:void(0);" ng-click="logout()">Logout</a>
                   </li>
                </ul>                
            </div>            
        </header>
        <div class="container-fluid">
            <ui-view></ui-view>           
        </div>
        <footer class="footer">
            <div>Accenture Life Insurance & Annuity Platform (ALIP).</div>
        </footer>        
    </dir>

</body>
</html>